.apple-green-background{ background-color: #2ad67c;}
.header{ padding:18px;}
.white{color: #ffffff;}
.hr-prop{ width: 6%;margin: 5px auto;}
.active{ background-color: #303b9e;color: #FFFFFF !important;}
.active:hover{ background-color: #303b9e;color: #FFFFFF !important;}
.router-class{padding: 10px !important;background-color: #f1e245 !important;}
.router-btn{ color: #303b9e; }