
<h3 class="text-center top-stories-text-color">Best Book Seller</h3>


        <div class="container">


            <div class="col-md-12 " *ngFor="let Posty of postys" >
            <div class="books-view">
<div class="col-md-12 text-center title">{{Posty.author}}</div>
<div class="col-md-12 text-center m-t-1">{{Posty.description}}</div>
<div class="col-md-12 text-center m-t-1">{{Posty.title}}</div></div>
            </div>

        </div>
        <!--<table>-->
            <!--<tr *ngFor="let Posty of postys">-->
            <!--<td>{{Posty.author}}</td>  <td>{{Posty.description}}</td>  <td>{{Posty.title}}</td>-->
            <!--</tr>-->

        <!--</table>-->









